### HDFS 데이터 READ / WRITE

In [6]:
import pandas as pd
from hdfs import InsecureClient
import os

In [7]:
client_hdfs = InsecureClient('http://192.168.137.100:50070')

In [8]:
selloutData = pd.read_csv("../dataset/kopo_product_volume.csv")

In [9]:
selloutData.head(10)

  REGIONID PRODUCTGROUP  YEARWEEK  VOLUME
0      A01       ST0001    201415  810144
1      A01       ST0002    201415  128999
2      A01       ST0001    201418  671464
3      A01       ST0002    201418  134467
4      A01       ST0001    201413  470040
5      A01       ST0002    201413  140297
6      A01       ST0001    201411  524787
7      A01       ST0002    201411  145509
8      A01       ST0001    201416  764927
9      A01       ST0002    201416  140313

### 데이터 저장하기

In [12]:
# Writing Dataframe to hdfs
with client_hdfs.write('/kopo/hongde_seminar.csv', encoding = 'utf-8', overwrite=True) as writer:
    selloutData.to_csv(writer)

In [14]:
# ====== Reading files ======
with client_hdfs.read('/kopo/hongde_seminar.csv', encoding = 'utf-8') as reader:
    readdf=pd.read_csv(reader,index_col=0)

In [15]:
readdf

    REGIONID PRODUCTGROUP  YEARWEEK   VOLUME
0        A01       ST0001    201415   810144
1        A01       ST0002    201415   128999
2        A01       ST0001    201418   671464
3        A01       ST0002    201418   134467
4        A01       ST0001    201413   470040
5        A01       ST0002    201413   140297
6        A01       ST0001    201411   524787
7        A01       ST0002    201411   145509
8        A01       ST0001    201416   764927
9        A01       ST0002    201416   140313
10       A01       ST0001    201419   682757
11       A01       ST0002    201419   128668
12       A01       ST0001    201414   428195
13       A01       ST0002    201414   137488
14       A01       ST0001    201412   486509
15       A01       ST0001    201417   697502
16       A01       ST0002    201417   127163
17       A01       ST0001    201407   620392
18       A01       ST0002    201407   146476
19       A01       ST0001    201410   511679
20       A01       ST0002    201410   153152
21       A01       ST0001    201402   438251
22       A01       ST0002    201402   123875
23       A01       ST0001    201405   482381
24       A01       ST0002    201405   180516
25       A01       ST0001    201408   571781
26       A01       ST0002    201408   156772
27       A01       ST0001    201403   420290
28       A01       ST0002    201403   114744
29       A01       ST0001    201406   570412
..       ...          ...       ...      ...
235      A01       ST0001    201622   817878
236      A01       ST0002    201622   214929
237      A01       ST0001    201620   695859
238      A01       ST0002    201620   160913
239      A01       ST0001    201618   712672
240      A01       ST0002    201618   162560
241      A01       ST0001    201625   786218
242      A01       ST0002    201625   157283
243      A01       ST0001    201612   794413
244      A01       ST0002    201612   132780
245      A01       ST0001    201610  1218194
246      A01       ST0002    201610   142575
247      A01       ST0001    201617   694920
248      A01       ST0002    201617   142279
249      A01       ST0001    201615   678467
250      A01       ST0002    201615   143180
251      A01       ST0001    201613   886427
252      A01       ST0002    201613   135788
253      A01       ST0001    201611  1011581
254      A01       ST0002    201611   150915
255      A01       ST0001    201609   635412
256      A01       ST0001    201616   658270
257      A01       ST0002    201616   137927
258      A01       ST0002    201609   154149
259      A01       ST0001    201614   739977
260      A01       ST0002    201614   148835
261      A01       ST0001    201641   746061
262      A01       ST0002    201412   151750
263      A01       ST0001    201420   645626
264      A01       ST0002    201420   125863

[265 rows x 4 columns]